

#textarea{
    width: 35rem;
    height: 25rem;
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 5px;
    border-color:#ccc;
    resize: none;
}

